{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

<h2>Acknowledgements</h2>

<p>No project like this stands on its own.  We are proud to be standing on the shoulders of giants who produced great software before us.  We would like to acknowledge the following.
</p>

<ul>
	<li>Jeffrey Elkner, et. al. for publishing the first version of How to Think Like a Computer Scientist</li>
	<li>Scott Graham, for Skulpt, which allowed us to develop activecode </li>
	<li>Philip Guo for the Online Python Tutor, which forms the basis for codelens</li>
	<li>To the folks at Pocoo.org who developed Skulpt</li>
	<li>To all the developers of RestructuredText</li>
</ul>


<p>We would especially like to acknowledge Jim Leisy of Franklin Beedle Publishers.  Jim supported our first book project:  <a href="https://fbeedle.com/content/problem-solving-algorithms-and-data-structures-using-python-second-edition">Problem Sovling with Algorithms and Data Structures using Python.</a>  Jim has generously allowed us to develop the online version of this book and make it avaialable for free.  Although you can access the interactive version of this book on line for free, you can still purchase a paper copy of the book from the link provided.</p>