h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

.floating-nav {
    display: none;
}

#header img {
            height:35px;
            margin-top:5px;
            margin-left:5px;
}