a {
    color: #aa7700;
    background-color: #ffffff;
}
:visited {
    color: #aa7700;
    background-color: #ffffff;
}
body {
    color: #000;
    background-color: #fff;
    margin: 50px 50px 50px 50px;
}
img {
    border: 0;
}
p {
    text-align: justify;
}
h1 {
    color: #cc9900;
    background-color: #ffffff;
    text-align: center;
}
pre {
    font-size: small; 
}
