<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Abrasive
Description: A two-column, fixed-width design with dirty looks.
Version    : 1.0
Released   : 20081122

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Abrasive by NodeThirtyThree for Free CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Abrasive</a></h1>
			<h2>by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">FreeCSSTemplates</a></h2>
		</div>
		<!-- end #logo -->
		<div id="menu">
			<ul>
				<li class="first"><a href="#">News</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact Me</a></li>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="bgtop">
			<div id="bgbottom">
				<div id="content">
					<div class="post">
						<div class="title">
							<h2><a href="#">Lorem Ipsum Dolor</a></h2>
							<p>Posted by <a href="#">enks</a> on November 19, 2008</p>
						</div><
						<div class="entry"><img src="images/img01.jpg" alt="" width="112" height="104" class="alignleft" />
							<p>This is abrasive, a free, fully standards-compliant CSS template designed by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> for <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)</p>
						</div>
					</div>
					<div class="post">
						<div class="title">
							<h2><a href="#">Blandit veroeros?</a></h2>
							<p>Posted by <a href="#">enks</a> on November 19, 2008</p>
						</div>
						<div class="entry">
							<p>Morbi ante sem, aliquam vitae, egestas ullamcorper, vulputate non, magna. Cras a massa. Integer nec turpis vel <a href="#">justo pulvinar ornare</a>. Donec nec neque vel est rhoncus adipiscing.</p>
							<p>Proin tempor metus ut risus. Nulla dolor. Vestibulum diam nisl, aliquet tempor, mattis id, varius id, nibh. Quisque vel diam id urna dapibus sollicitudin. Cras eget neque eu leo sollicitudin dignissim. Nunc nibh nulla, placerat vitae, <a href="#">adipiscing consectetuer id diam</a>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur lobortis. Vestibulum volutpat nibh sit amet ligula.  Blandit etiam sed lorem lobortis. Integer turpis.</p>
						</div>
					</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Nullam vitae</h2>
							<ul>
								<li><a href="#">Morbi ante sem aliquam</a></li>
								<li><a href="#">Vitae egestas ullamcorpe</a></li>
								<li><a href="#">Ornare donec nec neque</a></li>
								<li><a href="#">Vel rhoncus adipiscing</a></li>
							</ul>
						</li>
						<li>
							<h2>Sed magna</h2>
							<ul>
								<li><a href="#">Morbi ante sem aliquam</a></li>
								<li><a href="#">Vitae egestas ullamcorpe</a></li>
								<li><a href="#">Vulputate non magna</a></li>
								<li><a href="#">Cras a massa integer</a></li>
								<li><a href="#">Nec turpis vel pulvinar</a></li>
								<li><a href="#">Ornare donec nec neque</a></li>
								<li><a href="#">Vel rhoncus adipiscing</a></li>
								<li><a href="#">Vulputate non magna</a></li>
								<li><a href="#">Cras a massa integer</a></li>
								<li><a href="#">Nec turpis vel pulvinar</a></li>
								<li><a href="#">Vulputate non magna</a></li>
								<li><a href="#">Nec turpis vel pulvinar</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>Copyright (c) 2008 SiteName.com. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> and <a href="http://www.freecsstemplates.org/">FreeCSSTemplates</a></p>
	</div>
	<!-- end #footer -->
</div>
<!-- end #wrapper -->
</body>
</html>
