name: unit-test
on:
  pull_request:
  push:
    branches: "*"
    tags-ignore: "v*"
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - run: npm ci
      - run: npm run build
      - run: npm test
      